.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-div {
  position: fixed;

  background-color: rgb(0, 0, 0);
  padding: 3rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 4px 8px 16px 0 var(--grn);
  border-radius: 15px;
  border: solid 3px var(--grn);
}

.modal img {
  height: 70vh;
  object-fit: cover;
  object-position: center;
}

.cross {
  cursor: pointer;
  position: absolute;
  top: 0.75rem;
  right: 1.5rem;
  color: beige;
}

.cross:hover {
  background-color: rgb(111, 111, 101);
  font-size: 18px;
  padding: 2px;
}
