html {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0 auto;
  background-color: var(--blk);
}

:root {
  --wht: rgb(255, 244, 209);
  --blk: rgb(1, 0, 5);
  --ora: rgb(253, 145, 46);
  --yel: rgb(252, 168, 6);
  --grn: rgb(190, 197, 47);
}

.main-div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 830px) {
  .main-div {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1280px) {
  .main-div {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  .main-div {
    grid-template-columns: repeat(3, 1fr);
  }
}
