.main-div {
  display: grid;
  grid-gap: 1rem;
}

@media (min-width: 768px) {
  .main-div {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1024px) {
  .main-div {
    grid-template-columns: repeat(4, 1fr);
  }
}
