html {
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
}

.main-div {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 830px) {
  .main-div {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1280px) {
  .main-div {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  .main-div {
    grid-template-columns: repeat(3, 1fr);
  }
}
